<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ajout participant</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <h1>Ajouter un participant</h1>
        <form th:action="@{/participant/addParticipant?id={id}(id=${eventId})}" th:object="${participantForm}" method="POST">
            <div class="form-group">
                <label for="nomForm">Nom *</label>
                <input type="text" class="form-control" id="nomForm" th:field="*{nom}"/>
                <td th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Nom Error</td>
            </div>
            <div class="form-group">
                <label for="prenomForm">Prénom *</label>
                <input type="text" class="form-control" id="prenomForm" th:field="*{prenom}" />
                <td th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}">Prenom Error</td>
            </div>
            <div class="form-group">
                <label for="emailForm">Email *</label>
                <input type="email" class="form-control" id="emailForm" th:field="*{email}" />
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
            </div>
            <div class="form-group">
                <label for="datenaissForm">Date de naissance</label>
                <input type="date" class="form-control" id="datenaissForm" th:field="*{datenaiss}" />
                <td th:if="${#fields.hasErrors('datenaiss')}" th:errors="*{datenaiss}">Date Error</td>
            </div>
            <div class="form-group">
                <label for="orgForm">Organisation</label>
                <input type="text" class="form-control" id="orgForm" th:field="*{organisation}" />
                <td th:if="${#fields.hasErrors('organisation')}" th:errors="*{organisation}">Organisation Error</td>
            </div>
            <div class="form-group">
                <label for="obsForm">Observations</label>
                <input type="text" class="form-control" id="obsForm" th:field="*{observations}" />
                <td th:if="${#fields.hasErrors('observations')}" th:errors="*{observations}">Observations Error</td>
            </div>
            <input type="submit" class="btn btn-primary" value="Ajouter" /> <input type="reset" class="btn btn-primary" value="Reset" />
        </form>

        <div th:if="${errorMessage}" th:utext="${errorMessage}"
             style="color:red;font-style:italic;">
        </div>
    </body>
</html>
