<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Adding a participant:</h1>
        <form th:action="@{/participant/addParticipant?id={id}(id=${eventId})}" th:object="${participantForm}" method="POST">
            <p>Nom : <input type="text" th:field="*{nom}" /></p>
            <td th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Nom Error</td>
            <p>Prenom : <input type="text" th:field="*{prenom}" /></p>
            <td th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}">Prenom Error</td>
            <p>Email : <input type="email" th:field="*{email}" /></p>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
            <p>Date de naissance : <input type="date" th:field="*{datenaiss}" /></p>
            <td th:if="${#fields.hasErrors('datenaiss')}" th:errors="*{datenaiss}">Date Error</td>
            <p>Organisation : <input type="text" th:field="*{organisation}" /></p>
            <td th:if="${#fields.hasErrors('organisation')}" th:errors="*{organisation}">Organisation Error</td>
            <p>Observations : <input type="text" th:field="*{observations}" /></p>
            <td th:if="${#fields.hasErrors('observations')}" th:errors="*{observations}">Observations Error</td>
            
            <p><input type="submit" value="Create" /> <input type="reset" value="Reset" /></p>
        </form>

        <div th:if="${errorMessage}" th:utext="${errorMessage}"
             style="color:red;font-style:italic;">
        </div>
    </body>
</html>
