<!DOCTYPE HTML>
<html xmlns=http://www.w3.org/1999/xhtml
xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<a class="btn btn-primary" href="/participant/all">Voir tous les participants</a>
	<a class="btn btn-primary" href="/evenement/addEvenement">Ajouter un événement</a>
    <table class="table">
    	<thead class="thead-dark">
        	<tr>
            	<th>Inscription</th>
            	<th>Intitulé</th>
            	<th>Thème</th>
            	<th>Date de début</th>
            	<th>Durée (h)</th>
            	<th>Nombre de participants maximum</th>
            	<th>Description</th>
            	<th>Organisateur</th>
            	<th>Type de l'événement</th>
            	<th scope="col">Modification</th>
            	<th scope="col">Suppression</th>
        	</tr>
        </thread>
        <tr th:each="e : ${allEvents}" scope="row">
            <td><a th:href="@{/participant/addParticipant?id={id}(id=${e.numevent})}">S'inscrire</a></td>
            <td th:text="${e.intitule}"></td>
            <td th:text="${e.theme}"></td>
            <td th:text="${e.datedebut}"></td>
            <td th:text="${e.duree}"></td>
            <td th:text="${e.nbpartmax}"></td>
            <td th:text="${e.description}"></td>
            <td th:text="${e.organisateur}"></td>
            <td th:text="${e.typeevent}"></td>
            <td>
	        	<a th:href="@{/evenement/modifyEvenement?id={id}(id=${e.numevent})}">Modifier</a>
	        </td>
	        <td>
	        	<a th:href="@{/evenement/removeEvenement?id={id}(id=${e.numevent})}">Supprimer</a>
	        </td>
        </tr>
    </table>
    <div th:if="${removeMessage}" th:utext="${removeMessage}"></div>
</body>
</html>