<!DOCTYPE HTML>
<html xmlns=http://www.w3.org/1999/xhtml
xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <table class="table">
    	<thead class="thead-dark">
	        <tr>
	            <th scope="col">Nom</th>
	            <th scope="col">Prenom</th>
	            <th scope="col">Email</th>
	            <th scope="col">Date de naissance</th>
	            <th scope="col">Organisation</th>
	            <th scope="col">Observations</th>
	            <th scope="col">Evénement</th>
	            <th scope="col">Modification</th>
	            <th scope="col">Suppression</th>
	        </tr>
        </thead>
        <tbody>
	        <tr th:each="p : ${allParticipants}" scope="row">
	            <td th:text="${p.nom}"></td>
	            <td th:text="${p.prenom}"></td>
	            <td th:text="${p.email}"></td>
	            <td th:text="${#dates.format(p.datenaiss, 'yyyy-MM-dd')}"></td>
	            <td th:text="${p.organisation}"></td>
	            <td th:text="${p.observations}"></td>
	            <td th:if="${p.event}!=null" th:text="${p.event.intitule}"></td>
	            <td>
	                <a th:href="@{/participant/modifyParticipant?id={id}(id=${p.numpers})}">Modifier</a>
	            </td>
	            <td>
	                <a th:href="@{/participant/removeParticipant?id={id}(id=${p.numpers})}">Supprimer</a>
	            </td>
	        </tr>
        </tbody>
    </table>
</body>
</html>