<!DOCTYPE HTML>
<html xmlns=http://www.w3.org/1999/xhtml
xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
    <!--<a href="addParticipant">Add Person</a>-->
    <table class="table">
        <tr>
            <th>Suppression</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Date de naissance</th>
            <th>Organisation</th>
            <th>Observations</th>
            <th>Evénement</th>
        </tr>
        <tr th:each="p : ${allParticipants}">
            <td><input type="checkbox" /></td>
            <td th:text="${p.nom}"></td>
            <td th:text="${p.prenom}"></td>
            <td th:text="${p.email}"></td>
            <td th:text="${p.datenaiss}"></td>
            <td th:text="${p.organisation}"></td>
            <td th:text="${p.observations}"></td>
            <td th:if="${p.event}!=null" th:text="${p.event.intitule}"></td>
        </tr>
    </table>
</body>
</html>